@font-face {
    font-family: 'Bigola';
    src: url(./fonts/bigola-display.ttf);
} 

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252424;
}

.maindiv{
    display: flex;
    gap: 200px;
}
.card1, .card2, .card3 {
    background: #282828;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    padding: 20px;
    transition: 0.3s ease-in-out;
    text-align: center;
    transform: scale(1.05);
    background: #ffd700;
    color: #0f0f0f;
      
}

